<div class="conter-wrapper">
	<div class="container-fluid home-page">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Dados do Pedido</h3>
					</div>
					<div class="panel-body">
						<form>
							<div class="row">
								<div class="col-md-12">
									<fieldset style="margin: 25px 0">
										<legend>Pedido</legend>
										<div class="col-md-6">
											<div style="margin: 10px">
												Guid Pedido:
											</div>
											<div style="margin: 10px">
												Protocolo:
											</div>
											<div style="margin: 10px">
												Identificador:
											</div>
											<div style="margin: 10px">
												Data de Abertura:
											</div>
											<div style="margin: 10px">
												Data de Leitura do Banco:
											</div>
										</div>
										<div class="col-md-6">
											<div style="margin: 10px">
												Status do Pedido:
											</div>
											<div style="margin: 10px">
												Valor Custas Processuais:
											</div>
											<div style="margin: 10px">
												Valor Total Simulado:
											</div>
											<div style="margin: 10px">
												Destinatário de Pagamento
											</div>                    
										</div>
									</fieldset>
								</div>
							</div>							
							<div class="row">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Dados do Poupador</legend>
										<div class="col-md-6">
											<div style="margin: 10px">
												Nome:
											</div>
											<div style="margin: 10px">
												CPF:
											</div>
											<div style="margin: 10px">
												Data de Nascimento;
											</div>
											<div style="margin: 10px">
												Telefone Fixo:
											</div>
											<div style="margin: 10px">
												Identidade:
											</div>
											<div style="margin: 10px">
												Número:
											</div>
											<div style="margin: 10px">
												Tipo:
											</div>
											<div style="margin: 10px">
												Órgão:
											</div>
											<div style="margin: 10px">
												Validade:
											</div>
										</div>
										<div class="col-md-6">
											<div style="margin: 10px">
												Falecido:
											</div>
											<div style="margin: 10px">
												Data do Cálculo:
											</div>
											<div style="margin: 10px">
												Email:
											</div>
											<div style="margin: 10px">
												Telefone Celular:
											</div>
											<div style="margin: 10px">
												UF:
											</div>
											<div style="margin: 10px">
												Emissão:
											</div>
											<div style="margin: 10px">
												Classificação:
											</div>                    
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Endereço do Poupador</legend>
										<div class="col-md-6">
											<div style="margin: 10px">
												CEP:
											</div>
											<div style="margin: 10px">
												UF:
											</div>
											<div style="margin: 10px">
												Cidade:
											</div>
											<div style="margin: 10px">
												Bairro:
											</div>                    
										</div>
										<div class="col-md-6">
											<div style="margin: 10px">
												Tipo Logradouro:
											</div>
											<div style="margin: 10px">
												Logradouro:
											</div>
											<div style="margin: 10px">
												Complemento:
											</div>
											<div style="margin: 10px">
												Número:
											</div>               
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Dados dos Envolvidos</legend>
										<fieldset style="margin:0 25px">
											<legend><small style="font-size:0.8em">Envolvido 1</small></legend>
											<div class="col-md-6">
												<div style="margin: 10px">
													Nome:
												</div>
												<div style="margin: 10px">
													CPF:
												</div>
												<div style="margin: 10px">
													Identidade:
												</div>
												<div style="margin: 10px">
													Tipo:
												</div>                    
												<div style="margin: 10px">
													Órgão:
												</div>
												<div style="margin: 10px">
													CEP:
												</div>
												<div style="margin: 10px">
													UF:
												</div>
												<div style="margin: 10px">
													Cidade:
												</div>
												<div style="margin: 10px">
													Bairro:
												</div>
												<div style="margin: 10px">
													Telefone Fixo:
												</div>
												<div style="margin: 10px">
													Email:
												</div>
											</div>
											<div class="col-md-6">
												<div style="margin: 10px">
													Emissão:
												</div>
												<div style="margin: 10px">
													Classificação:
												</div>
												<div style="margin: 10px">
													Validade:
												</div>
												<div style="margin: 10px">
													Qualificação:
												</div>                    
												<div style="margin: 10px">
													Tipo Logradouro:
												</div>
												<div style="margin: 10px">
													Logradouro:
												</div>
												<div style="margin: 10px">
													Complemento:
												</div>
												<div style="margin: 10px">
													Número:
												</div>
												<div style="margin: 10px">
													Telefone Celular:
												</div>
											</div>
										</fieldset>                            
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Dados do Processo</legend>
										<div class="col-md-6">
											<div style="margin: 10px">
												Número CNJ:
											</div>
											<div style="margin: 10px">
												Número Antigo:
											</div>
											<div style="margin: 10px">
												Identificador Legado:
											</div>
											<div style="margin: 10px">
												Órgão:
											</div>
											<div style="margin: 10px">
												Tipo de Ação:
											</div>           
											<div style="margin: 10px">
												Patrocínio:
											</div>         
										</div>
										<div class="col-md-6">
											<div style="margin: 10px">
												Vara:
											</div>
											<div style="margin: 10px">
												Comarca de Origem:
											</div>
											<div style="margin: 10px">
												Data de Ajuizamento:
											</div>
											<div style="margin: 10px">
												Data de Procuração:
											</div>
											<div style="margin: 10px">
												UF de Origem:
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Patrono do Processo</legend>
										<div class="col-md-6">
											<div style="margin: 10px">
												Nome:
											</div>
											<div style="margin: 10px">
												CPF:
											</div>
											<div style="margin: 10px">
												Qualificação:
											</div>
										</div>
										<div class="col-md-6">
											<div style="margin: 10px">
												Telefone Fixo:
											</div>
											<div style="margin: 10px">
												Telefone Celular:
											</div>
											<div style="margin: 10px">
												Email:
											</div>
										</div>
										<div class="row">
											<div class="col-md-12" style="margin: 0 25px">
												<fieldset style="margin:25px 0">
													<legend>
														<small style="font-size:0.8em">
															Advogado
														</small>
													</legend>                    
													<div class="col-md-6">
														<div style="margin: 10px">
															Número OAB:
														</div>
														<div style="margin: 10px">
															Esfera:
														</div>
														<div style="margin: 10px">
															UF:
														</div>                            
													</div>              
												</fieldset>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12" style="margin: 0 25px">
												<fieldset style="margin:25px 0">
													<legend>
														<small style="font-size:0.8em">
															Defensor
														</small>
													</legend>                    
													<div class="col-md-6">
														<div style="margin: 10px">
															Número OAB:
														</div>
														<div style="margin: 10px">
															Esfera:
														</div>
														<div style="margin: 10px">
															UF:
														</div>                            
													</div>              
												</fieldset>
											</div>
										</div>    
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Contas</legend>
										<div class="col-md-12" style="margin: 0 25px">
											<fieldset style="margin:25px 0">
												<legend>
													<small style="font-size:0.8em">Conta Bancária - Acordo</small>
												</legend>                    
												<div class="col-md-6">
													<div style="margin: 10px">
														Titular da Conta:
													</div>
													<div style="margin: 10px">
														CPF/CNPJ
													</div>
													<div style="margin: 10px">
														Número do Banco:
													</div>              
													<div style="margin: 10px">
														Nome do Banco:
													</div>
													<div style="margin: 10px">
														Agência
													</div>                        
												</div>
												<div class="col-md-6">
													<div style="margin: 10px">
														DV Agência:
													</div>
													<div style="margin: 10px">
														Conta:
													</div>
													<div style="margin: 10px">
														DV Conta:
													</div>              
													<div style="margin: 10px">
														Validade:
													</div>
													<div style="margin: 10px">
														Tipo da Conta:
													</div>                        
												</div>      
											</fieldset>
										</div>
										<div class="col-md-12" style="margin: 0 25px">
											<fieldset style="margin:25px 0">
												<legend>
													<small style="font-size:0.8em">Conta Judicial - Acordo</small>
												</legend>                    
												<div class="col-md-6">
													<div style="margin: 10px">
														Número do Banco:
													</div>
													<div style="margin: 10px">
														Nome do Banco:
													</div>
													<div style="margin: 10px">
														Identidicador do Depósito Judicial:
													</div>              
													<div style="margin: 10px">
														Data Validade:
													</div>                            
												</div>              
											</fieldset>
										</div>
										<div class="col-md-12" style="margin: 0 25px">
											<fieldset style="margin:25px 0">
												<legend>
													<small style="font-size:0.8em">Conta Plano</small>
												</legend>                    
												<div class="col-md-6">
													<div style="margin: 10px">
														Titular da Conta:
													</div>
													<div style="margin: 10px">
														CPF/CNPJ:
													</div>
													<div style="margin: 10px">
														Nome do Banco:
													</div>
													<div style="margin: 10px">
														Agência:
													</div>    
													<div style="margin: 10px">
														Plano Econômico:
													</div>
													<div style="margin: 10px">
														Valor Simulado:
													</div>
												</div>
												<div class="col-md-6">
													<div style="margin: 10px">
														DV Agência:
													</div>
													<div style="margin: 10px">
														Conta:
													</div>
													<div style="margin: 10px">
														DV Conta:
													</div>
													<div style="margin: 10px">
														Validade:
													</div>    
													<div style="margin: 10px">
														Tipo da Conta:
													</div>
													<div style="margin: 10px">
														Saldo Base:
													</div>
													<div style="margin: 10px">
														Aniversário Conta:
													</div>
												</div>
											</fieldset>
										</div>                
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Documentos</legend>
										<div class="col-md-12">
											<table class="table table-default table-hover">
												<thead>
													<tr>
														<th>Nome</th>
														<th>Tipo</th>
														<th>Contexto</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><a href="#">OF_119VC_0999-2018.pdf</a></td>
														<td>RG</td>
														<td>INVENTARIANTE</td>
													</tr>
													<tr>
														<td><a href="#">OF_119VC_0999-2018.pdf</a></td>
														<td>RNE</td>
														<td>TERMO</td>
													</tr>
													<tr>
														<td><a href="#">RSP_119VC_0999-2018.pdf</a></td>
														<td>CPF</td>
														<td>RESUMO</td>
													</tr>
													<tr>
														<td><a href="#">RSP_119VC_0999-2018.pdf</a></td>
														<td>OAB</td>
														<td>ADVOGADO</td>
													</tr>
												</tbody>
											</table>
										</div>                    
									</fieldset>
								</div>
								<div class="col-md-12 text-center" style="margin-top:25px">
									<button class="btn btn-success" 
											style="margin: 0 5px"
											ng-click="vm.setModalidade('aprovar')">
										Aprovar
									</button>
									<button class="btn btn-primary" 
											style="margin: 0 5px"
											ng-click="vm.setModalidade('aprovar-ressalvas')">
										Aprovar Com Ressalvas
									</button>
									<button class="btn btn-danger" 
											style="margin: 0 5px"
											ng-click="vm.setModalidade('negar')">
										Negar
									</button>
								</div>
							</div>

							<div class="alert alert-success" style="margin:25px 0" ng-if="vm.modalidade === 'aprovar'">
								<i class="fa fa-check fa-lg fa-fw"></i> Aprovar Pedido
							</div>
							<div class="alert alert-info" style="margin:25px 0" ng-if="vm.modalidade === 'aprovar-ressalva'">
								<i class="fa fa-exclamation-triangle fa-lg fa-fw"></i> Aprovar Pedido com Ressalvas
							</div>
							<div class="alert alert-danger" style="margin:25px 0" ng-if="vm.modalidade === 'negar'">
								<i class="fa fa-times fa-lg fa-fw"></i> Negar Pedido
							</div>

							<!-- Aprovar -->
							<div class="row" ng-if="vm.modalidade === 'aprovar'">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Acordo
											<span class="badge badge-default pull-right" ng-if="!vm.isPagamentoConfirmado">Não confirmado</span>
											<span class="badge badge-success pull-right" ng-if="vm.isPagamentoConfirmado">Confirmado</span>
										</legend>
										<div class="col-md-6">
											<div class="form-group">
												<label id="label-identificador-proposta" for="input-identificador-proposta">Identificador Proposta:</label>
												<input type="text" class="form-control" id="input-identificador-proposta" />
											</div>
											<div class="form-group">
												<label id="label-valor-total-acordo" for="input-valor-total-acordo">Valor Total Acordo:</label>
												<input type="text" class="form-control" id="input-valor-total-acordo" />
											</div>
											<div class="form-group">
												<label id="label-valor-destinado-portador" for="input-valor-destinado-portador">Valor Destinado ao Portador:</label>
												<input type="text" class="form-control" id="input-valor-destinado-portador" />
											</div>
											<div class="form-group">
												<label id="label-valor-honorario-patrono" for="input-valor-honorario-patrono">Valor de Honorário ao Patrono do Processo:</label>
												<input type="text" class="form-control" id="input-valor-honorario-patrono" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label id="label-valor-reembolso-custas" for="input-valor-reembolso-custas">Valor de Reembolso de Custas:</label>
												<input type="text" class="form-control" id="input-valor-reembolso-custas" />
											</div>
											<div class="form-group">
												<label id="label-quantidade-parcelas" for="input-quantidade-parcelas">Quantidade de Parcelas:</label>
												<input type="text" class="form-control" id="input-quantidade-parcelas" />
											</div>
											<div class="form-group">
												<label id="label-valor-parcela" for="input-valor-parcela">Valor da Parcela:</label>
												<input type="text" class="form-control" id="input-valor-parcela" />
											</div>
											<div class="form-group">
												<label id="label-data-primeira-parcela" for="input-data-primeira-parcela">Data da Primeira Parcela:</label>
												<input type="text" class="form-control" id="input-data-primeira-parcela" />
											</div>
										</div>
										<div class="col-md-12">
											<label id="label-acordo-observacoes" for="textarea-acordo-observacoes">Observações:</label>
											<textarea id="textarea-acordo-observacoes" class="form-control" cols="20" rows="10" style="resize: none"></textarea>
										</div>										
									</fieldset>
								</div>
							</div>
							<div class="row" ng-if="vm.modalidade === 'aprovar'">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Pagamento
											<span class="badge badge-default pull-right" ng-if="!vm.isPagamentoConfirmado">Não confirmado</span>
											<span class="badge badge-success pull-right" ng-if="vm.isPagamentoConfirmado">Confirmado</span>
										</legend>
										<div class="col-md-6">
											<div class="form-group">
												<label id="label-pagamento-guid-pedido" for="input-pagamento-guid-pedido">Guid Pedido:</label>
												<input type="text" id="input-pagamento-guid-pedido" class="form-control">
											</div>
											<div class="form-group">
												<label id="label-pagamento-identificador-proposta" for="input-pagamento-identificador-proposta">Identificador da Proposta:</label>
												<input type="text" id="input-pagamento-identificador-proposta" class="form-control">
											</div>
											<div class="form-group">
												<label id="label-numero-parcela" for="input-numero-parcela">Parcela Número:</label>
												<input type="text" id="input-numero-parcela" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label id="label-pagamento-valor" for="input-pagamento-valor">Valor do Pagamento:</label>
												<input type="text" id="input-pagamento-valor" class="form-control">
											</div>
											<div class="form-group">
												<label id="label-pagamento-status" for="select-pagamento-status">Status do Pagamento:</label>
												<select id="select-pagamento-status" class="form-control"></select>
											</div>
											<div class="form-group">
												<label id="label-pagamento-data-pagamento" for="input-pagamento-data-pagamento">Data do Pagamento:</label>
												<input type="text" id="input-pagamento-data-pagamento" class="form-control">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label id="label-pagamento-observacoes" for="input-pagamento-observacoes">Observações:</label>
												<textarea id="input-pagamento-observacoes" class="form-control" cols="20" rows="10" style="resize: none"></textarea>
											</div>
										</div>
										<div class="col-md-12 text-center" style="margin-top:25px">
											<button class="btn btn-primary" 
													style="margin: 0 5px"
													ng-click="vm.confirmarPagamento()">
												Confirmar Pagamento
											</button>
											<button class="btn btn-danger" 
													style="margin: 0 5px"
													ng-click="vm.cancelarConfirmarPagamento()">
												Cancelar
											</button>
										</div>

										<div class="col-md-12">
											<fieldset style="margin:25px 0">
												<legend>
													<small style="font-size:0.8em">Conta Bancária - Acordo</small>
												</legend>
												<div class="col-md-6">
													<div style="margin: 10px">
														Titular da conta:
													</div>
													<div style="margin: 10px">
														CPF/CNPJ:
													</div>
													<div style="margin: 10px">
														Número do Banco:
													</div>
													<div style="margin: 10px">
														Nome do Banco:
													</div>
													<div style="margin: 10px">
														Agência:
													</div>
												</div>
												<div class="col-md-6">
													<div style="margin: 10px">
														DV Agência:
													</div>
													<div style="margin: 10px">
														Conta:
													</div>
													<div style="margin: 10px">
														DV Conta:
													</div>
													<div style="margin: 10px">
														Validade:
													</div>
													<div style="margin: 10px">
														Tipo Conta:
													</div>
												</div>
											</fieldset>
										</div>

										<div class="col-md-12">
											<fieldset style="margin:25px 0">
												<legend>
													<small style="font-size:0.8em">Conta Judicial - Acordo</small>
												</legend>
												<div class="col-md-6">
													<div style="margin: 10px">
														Número do Banco:
													</div>
													<div style="margin: 10px">
														Nome do Banco:
													</div>
													<div style="margin: 10px">
														Identificador do Depósito:
													</div>
													<div style="margin: 10px">
														Data de Validade:
													</div>
												</div>
											</fieldset>
										</div>
										
										<div class="col-md-12">
											<fieldset style="margin:25px 0">
												<legend>
													<small style="font-size:0.8em">Comprovante</small>
												</legend>
												<div class="col-md-6">
													<div style="margin: 10px">
														Identificador do Comprovante:
														<input type="text" class="form-control">
													</div>
													<div style="margin: 10px">
														Nome do  arquivo:
														<input type="text" class="form-control">
													</div>
													<div style="margin: 10px">
														Arquivo:
														<input type="file" name="" id="">
														<div style="margin:5px 0">
															<a href="#">Adicionar</a>
														</div>
													</div>
												</div>
											</fieldset>
										</div>		
									</fieldset>
								</div>
								<div class="col-md-12 text-center">
									<button class="btn btn-primary" style="margin: 0 5px">Confirmar Acordo</button>
									<button class="btn btn-danger" style="margin: 0 5px">Cancelar</button>
								</div>
							</div>
							<!-- Aprovar com Ressalvas -->
							<div class="row" ng-if="vm.modalidade === 'aprovar-ressalva'">								
								<div class="col-md-12">									
									<fieldset style="margin:25px 0">
										<legend>Acordo</legend>
										<div class="col-md-6">
											<div class="form-group">
												<label for="input-identificador-proposta">Identificador Proposta:</label>
												<input type="text" class="form-control" id="input-identificador-proposta" />
											</div>
											<div class="form-group">
												<label for="input-valor-total-acordo">Valor Total Acordo:</label>
												<input type="text" class="form-control" id="input-valor-total-acordo" />
											</div>
											<div class="form-group">
												<label for="input-valor-destinado-portador">Valor Destinado ao Portador:</label>
												<input type="text" class="form-control" id="input-valor-destinado-portador" />
											</div>
											<div class="form-group">
												<label for="input-valor-honorario-patrono">Valor de Honorário ao Patrono do Processo:</label>
												<input type="text" class="form-control" id="input-valor-honorario-patrono" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="input-valor-reembolso-custas">Valor de Reembolso de Custas:</label>
												<input type="text" class="form-control" id="input-valor-reembolso-custas" />
											</div>
											<div class="form-group">
												<label for="input-identificador-proposta">Quantidade de Parcelas:</label>
												<input type="text" class="form-control" id="input-identificador-proposta" />
											</div>
											<div class="form-group">
												<label for="input-valor-parcela">Valor da Parcela:</label>
												<input type="text" class="form-control" id="input-valor-parcela" />
											</div>
											<div class="form-group">
												<label for="input-data-primeira-parcela">Data da Primeira Parcela:</label>
												<input type="text" class="form-control" id="input-data-primeira-parcela" />
											</div>
										</div>
										<div class="col-md-12">
											<label for="textarea-observacoes">Observações:</label>
											<textarea id="textarea-observacoes" class="form-control" cols="20" rows="10" style="resize: none"></textarea>
										</div>
										<div class="col-md-12 text-center" style="margin-top:25px">
											<button class="btn btn-primary" 
													style="margin: 0 5px">
												Confirmar Ressalvas
											</button>
											<button class="btn btn-danger"
													style="margin: 0 5px">
												Cancelar
											</button>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row" ng-if="vm.modalidade === 'aprovar-ressalva'">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Racional de Cálculo</legend>
										<div class="col-md-6">
											<div class="form-group">
												<label for="input-identificador-racional-calculo">Identificador do Racional de Cálculo:</label>
												<input type="text" class="form-control" id="input-identificador-racional-calculo" />
											</div>
											<div class="form-group">
												<label for="input-nome-arquivo">Nome do Arquivo:</label>
												<input type="text" class="form-control" id="input-nome-arquivo" />
											</div>
											<div class="form-group">
												<label for="input-arquivo-file">Arquivo:</label>
												<input type="file" class="" id="input-arquivo-file" />
												<div style="margin:5px 0">
													<a href="#">Adicionar</a>
												</div>
											</div>
										</div>										
										<div class="col-md-12">
											<label for="textarea-observacoes-2">Observações:</label>
											<textarea id="textarea-observacoes-2" class="form-control" cols="20" rows="10" style="resize: none"></textarea>
										</div>
										<div class="col-md-12 text-center" style="margin-top:25px">
											<button class="btn btn-primary">Enviar Divergências</button>
											<button class="btn btn-danger">Cancelar</button>
										</div>
									</fieldset>
								</div>
							</div>

							<!-- Negar Pedido -->
							<div class="row" ng-if="vm.modalidade === 'negar'">
								<div class="col-md-12">
									<fieldset style="margin:25px 0">
										<legend>Recusa da Proposta</legend>
										<div class="col-md-6">
											<div class="form-group">
												<label for="select-motivo-recusa">Motivo da Recusa:</label>
												<select name="motivo-recusa" id="select-motivo-recusa" class="form-control">
													<option value="">Selecione...</option>
												</select>
											</div>
											<div class="form-group">
												<label for="select-submotivo-recusa">Submotivo da Recusa:</label>
												<select name="submotivo-recusa" id="select-submotivo-recusa" class="form-control">
													<option value="">Selecione...</option>
												</select>
											</div>
											<div class="form-group">
												<label for="textarea-obervacoes-motivo-recusa">Observações:</label>
												<textarea name="observacoes-motivo-recusa" 
														  id="textarea-obervacoes-motivo-recusa" 
														  class="form-control" 
														  cols="20" 
														  rows="10"
														  style="resize: none">
												</textarea>
											</div>
										</div>                    
									</fieldset>
								</div>
								<div class="col-md-12 text-center" style="margin-top:25px">
									<button class="btn btn-primary" style="margin: 0 5px">Enviar Negação</button>								
									<button class="btn btn-danger" style="margin: 0 5px">Cancelar</button>
								</div>
							</div>					
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>