<style>
    .big-button {
        font-size: 2.5em;
        border-radius: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .a-green {
        color: white;
        border: 1px solid #1b4719 !important;
        background: #2e772b !important;
        border-radius: 0;
        box-shadow: 0 1px 3px 1px #1b4719;
    }
    .a-muted {
        color: #3d3d3d;
    }
    .a-green:hover {
        color: white;
        border: 1px solid #1b4719 !important;
        background: #5fb25c !important;
        border-radius: 0;
        box-shadow: 0 1px 3px 1px #1b4719;
    }
    .a-green:focus {
        color: white;
        border: 1px solid #1b4719 !important;
        background: #31722f !important;
        border-radius: 0;
        box-shadow: 0 1px 3px 1px #1b4719;
    }
    .a-green:active {
        color: white;
        border: 1px solid #1b4719 !important;
        background: #31722f !important;
        border-radius: 0;
        box-shadow: 0 1px 3px 1px #1b4719;
    }
</style>
<div class="conter-wrapper">
	<div class="container-fluid home-page">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Obter Pedidos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="col-md-12">
                                        <div class="col-md-12 text-center">
                                            <button class="btn big-button a-green"
                                                    style="margin-right:10px" 
                                                    ng-click="vm.obterPedidos()">

                                                Carregar Pedidos <i class="fa fa-download fa-fw"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>